<footer>
  <div class="logo">
    <a href="http://www.fmf.uni-lj.si"
   target="_blank"><img src="{{ site.baseurl }}/assets/img/logo.gif" width="230px" alt="Logo FMF"/></a>
  </div>
  <div class="contact">
    Fakulteta za matematiko in fiziko, <br />
    Jadranska ulica 19, 1000 Ljubljana <br />
    (01) 476 6500 / <a href="mailto:fmf@fmf.uni-lj.si">fmf@fmf.uni-lj.si</a> <br /> 
  </div>
  <div class="copyright">
    Design and code: Ines Meršak,  ... <br />
    Logo: Katja Berčič
  </div>
</footer>
<div class="clr"></div>